{% extends "base_page.html" %}
{% load static %}
{% block page-title %}
Английские слова и их перевод
{% endblock %}

{% block page-lead %}
Это Web-приложение для изучения английского языка <br/>
Добавляйте новые слова, заучивайте, конспектируйте уроки
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="project-contents">
    <h2 class="pb-2 border-bottom">Что есть в этом проекте</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Список слов</h3>
                <p>Список имеющихся английских слов с переводом</p>
                <a href="/terms-list" class="btn btn-primary">Изучить</a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Добавь новые слова</h3>
                <p>Добавь вновь выученные слова в словарь, вставь картинку для наглядности</p>
                <a href="/add-term" class="btn btn-primary">
                    Добавить
                </a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Статистика</h3>
                <p>Сколько слов уже есть? Какой они длины?</p>
                <a href="/stats" class="btn btn-primary">
                    Проанализировать
                </a>
            </div>
        </div>
    </div>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Проверь себя на знания слов</h3>
                <p>Учи слова в игровой форме: вспомни английское слово по его переводу</p>
                <a href="/terms-play" class="btn btn-primary">Играть</a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Законспектируй занятие</h3>
                <p>Добавь конспект занятия, чтобы не упустить важные знания</p>
                <a href="/add-note" class="btn btn-primary">
                    Конспектировать
                </a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Повторение — чья-то мать</h3>
                <p>Не забывай освежать в памяти законспектированные занятия</p>
                <a href="/notes" class="btn btn-primary">
                    Повторить
                </a>
            </div>
        </div>
    </div>
    <section class="bg-light py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-xxl-8">
                    <div class="text-center my-5">
                        <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Об авторе проекта</span></h2>
                        <p class="lead fw-light mb-4">Привет! Меня зовут Елизавета Зажигина!</p>

                        <div class="row gx-5 align-items-center">
                            <div class="col-xxl-7">
                                <p class="text-muted">Умница, красавица и просто хорошая девочка. Дожила до 5-го курса МФТИ, думала,
                                    легко будет в магистратуре, а тут надо проекты по питону клепать.
                                    Ну мы им всем покажем, да?</p>
                            </div>
                            <div class="col-xxl-5">
                                <div class="image-cropper">
                                    <img src="{% static 'me.png' %}" alt="Автор проекта" width="256" height="256", class="rounded"/>
                                </div>
                            </div>
                        </div>

                        
                        <div class="col-lg-1">

                        </div>
                        <div class="d-flex justify-content-center fs-2 gap-4">
                            <a class="text-gradient" href="https://t.me/snumbrikvolgo"><i class="bi bi-telegram"></i></a>
                            <a class="text-gradient" href="https://github.com/snumbrikvolgo"><i class="bi bi-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    
</div>
{% endblock %}
