{% extends "base_page.html" %}

{% block page-title %}
Добавить выражение или слово
{% endblock %}

{% block page-lead %}
Нажмите кнупку &laquo;Отправить&raquo; для добавления нового английского слова в словарь<br>
Оставьте свои данные: <span class="fst-italic">Имя</span> и <span class="fst-italic">Email</span><br>
Они позволят нам собрать статистику по пользователям
{% endblock %}


{% block content %}
<div class="container-sm px-5 py-5" id="term-form">
    <form method="post" enctype="multipart/form-data">
        <div class="row px-5 py-2">
            <h3>Данные пользователя</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-6">
                <label for="name">Имя:</label>
                <input type="text" class="form-control input-lg" name="name" id="name" placeholder="Иван" value required>
            </div>
            <div class="col-md-6">
                <label for="email">Email:</label>
                <input type="text" class="form-control input-lg" name="email" id="email" placeholder="ivan@ivanov.com" value required>
            </div>
        </div>
        <div class="row px-5 py-2">
            <h3>Новое английское выражение или слово</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-4">
                <label for="new_word">Выражение или слово</label>
                <input type="text" class="form-control input-lg" name="new_word" id="new_word" placeholder="Cat">
            </div>
            <div class="col-md-8">
                <label for="new_translation">Перевод на русский</label>
                <input type="text" class="form-control input-lg" name="new_translation" id="new_translation" placeholder="Кошка">
            </div>
        </div>
        <!-- <div class="row px-5 py-3">
            <div class="col-md-12">
                <label class="form-label" for="customFile">Иллюстрация (по желанию)</label>
                <input type="file" class="form-control" id="customFile" />
            </div>
        </div> -->
        <div class="row px-4 py-2">
            <button type="submit" class="btn btn-primary" formaction="/send-term">Отправить</button>
        </div>
    </form>

</div>
{% endblock %}

